---
import "./HeroSection.styles.css"
import { DESCRIPTIONS } from "@/consts/index"
---

<section id="hero" class="hero">
  <div class="hero-content bg-none lg:bg-[url(/images/hero/hero-bg.png)] bg-cover bg-center bg-no-repeat">
    <img
      src="/images/hero/hero-text.svg"
      alt="imagen de la página"
      class="mb-[30px]"
    />
    <div>
      <h1 class="text-l-heavy-tall-small uppercase mb-3">
        ¿Qué es la amistad?
      </h1>
      {
        DESCRIPTIONS.map((description) => (
          <p class="text-l-regular-small">{description}</p>
        ))
      }
    </div>
  </div>
</section>
