---
import "./HeroSection.styles.css"
---

<section class="hero">
  <div class="hero-content">
    <img src="/images/hero/hero-text.svg" alt="Logo de la página" class="hero-logo mb-10">
    <div>
        <h1 class="text-l-heavy uppercase mb-2">
            ¿Qué es la amistad?
        </h1>
        <p class="text-m-regular">
            ¿Puede durar mucho tiempo?        
        </p>
        <p class="text-m-regular">
            ¿Qué cualidades harían falta para construirla?        
        </p>    
        <p class="text-m-regular">
            ¿Puede superar las diferencias o conflictos?        
        </p>    
        <p class="text-m-regular">
            ¿Serías capaz de morir por ella?        
        </p>    
        <p class="text-m-regular">
            ¿Cuál es su esencial?        
        </p>    
    </div>
  </div>
</section> 