---
import "./HeroSection.styles.css"
import { DESCRIPTIONS } from "@/consts/index"
---

<section id="hero" class="hero">
  <div class="hero-content">
    <img
      src="/images/hero/hero-text.svg"
      alt="Logo de la página"
      class="hero-logo mb-[30px]"
    />
    <div class="hero-text">
      <h1 class="text-l-heavy-tall-small uppercase mb-3">
        ¿Qué es la amistad?
      </h1>
      {
        DESCRIPTIONS.map((description) => (
          <p class="text-l-regular-small">{description}</p>
        ))
      }
    </div>
  </div>
</section>
