---
import { NAVLINKS } from "../../consts"
---

<ul class="hidden md:flex items-center md:gap-5 lg:gap-10">
  {
    NAVLINKS.map((link: { href: string; text: string }) => (
      <li>
        <a class="text-s-medium text-black uppercase" href={link.href}>
          {link.text}
        </a>
      </li>
    ))
  }
</ul>
