---
import { NAVLINKS } from "../../consts"
import "./NavList.styles.css"
---

<ul class="nav-list">
  {
    NAVLINKS.map((link) => (
      <li>
        <a class="text-s-medium text-black uppercase" href={link.href}>
          {link.text}
        </a>
      </li>
    ))
  }
</ul>
