---
import "./Section1.styles.css"
---

<section class="section1">
  <div class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-col items-center mb-10 md:mb-15">
      <h1 class="text-xl-bold md:text-xxl-heavy lg:text-display-heavy text-beige uppercase text-center">La escencia de</h1>
      <h1 class="text-xl-bold md:text-xxl-heavy lg:text-display-heavy text-yellow uppercase text-center">La amistad</h1>
      <p class="hidden md:block text-l-regular text-beige uppercase max-w-[600px] text-center px-4 md:px-0">
        "No somos amigos sólo porque compartimos grandes cosas, sino que, como somos amigos, cada cosa que compartimos se vuelve grande."
      </p>
    </div>
    <div class="w-full max-w-[1000px] px-4 md:px-0">
      <div class="border-yellow border-[10px] md:border-[20px] border-b-[40px] md:border-b-[60px] relative">
        <iframe
          class="w-full aspect-video"
          src="https://www.youtube.com/embed/4hdku3zFoHA"
          title="Video de amistad"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="absolute bottom-[-30px] md:bottom-[-40px] left-1/2 -translate-x-1/2 text-purple text-l-bold uppercase">
          Ver vídeo
        </p>
      </div>
    </div>
  </div>
</section> 