---
import "./Navbar.styles.css"
import NavList from "../NavList/NavList.astro"
---

<nav>
  <div class="flex items-center justify-between px-20 py-6">
    <img src="/logo.svg" alt="Logo" />
    <NavList />
  </div>
</nav>
