---
import "./SenecaBanner.styles.css"
---

<section class="seneca-banner">
  <h2 class="text-yellow text-display-heavy uppercase">
    Alguien por quien morir
  </h2>
  <p class="text-beige text-l-heavy uppercase mx-auto w-[680px]">
    Así resumía Séneca hace dos mil años qué es la amistad. <br /> No parece fácil.
    Y sin embargo, encontrarla es precisamente, algo por lo que
  </p>
  <p class="text-yellow text-xxxl-heavy uppercase">Merece la pena vivir</p>
</section>
