---
import "./SenecaBanner.styles.css"
---

<section class="seneca-banner px-4 py-10 lg:py-[100px] lg:px-[80px] lg:h-[520px]">
  <h2 class="text-yellow text-xxxl-heavy md:text-display-heavy uppercase">
    Alguien por quien morir
  </h2>
  <p class="text-beige text-m-bold-small md:text-l-heavy uppercase mx-auto lg:w-[680px] flex flex-col text-center justify-center align-center">
    <span>Así resumía Séneca hace dos mil años qué es la amistad.</span>
    <span>No parece fácil. Y sin embargo, encontrarla es precisamente,</span>
    <span>algo por lo que</span>
  </p>
  <p class="text-yellow text-xxl-heavy md:text-xxxl-heavy uppercase">Merece la pena vivir</p>
</section>
