---
import Frame from "../Frame/Frame.astro"
import "./EssenceOfFriendship.styles.css"
---

<section id="essence-of-friendship" class="essence-of-friendship py-6 px-6 md:py-10 md:px-10 lg:py-[100px] lg:px-[80px]">
  <div class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-col gap-[10px] items-center mb-10 md:mb-15">
      <h1
        class="flex flex-col text-xxxl-heavy md:text-display-heavy uppercase text-center"
      >
        <span class="text-beige">La esencia de</span>
        <span class="text-yellow">La amistad</span>
      </h1>
      <p
        class="text-m-bold-small md:text-l-heavy text-beige uppercase max-w-[600px] text-center px-4 md:px-0"
      >
        "No somos amigos sólo porque compartimos grandes cosas, sino que, como
        somos amigos, cada cosa que compartimos se vuelve grande."
      </p>
    </div>
    <Frame
      dimensions={{ width: "w-full max-w-[1000px]", height: "h-full" }}
      bg="bg-yellow"
      padding={{ top: "pt-3", bottom: "pb-2", lateral: "px-3" }}
    >
      <iframe
        class="w-full aspect-video"
        src="https://www.youtube.com/embed/1MywhME5tMc?list=PLOn0yp_e2asQzlQ-nlfpyrKre6hQfZ6Ie"
        title="Video de amistad"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <p class="mx-auto mt-3 text-purple text-l-bold uppercase">Ver vídeo</p>
    </Frame>
  </div>
</section>
