---
interface Props {
  image: string;
  title: string;
  info: string;
}

const { image, title, info } = Astro.props;
---

<div class="flex flex-col items-center">  
  <img src={image} alt={title} class="mb-6"/>
  <p class="text-m-bold-small md:text-l-bold text-black text-center">{title}</p>
  <p class="text-m-regular text-black text-center">{info}</p>
</div>