---
import "./Footer.styles.css"
---

<footer class="px-5 md:px-20 py-10 mt-auto bg-yellow">
  <div>
    <div class="flex flex-col lg:flex-row gap-10 lg:gap-20 lg:justify-between">
      <div>
        <h1 class="text-xl-bold md:text-xxl-heavy text-black uppercase">Otras webs de CI</h1>
        <ul class="flex flex-col gap-1 mt-5">
          <li class="text-m-regular text-black underline uppercase">
            <a href="https://livingforothers.ciong.org/" target="_blank" rel="noopener noreferrer">Dignidad</a>
          </li>
          <li class="text-m-regular text-black underline uppercase">
            <a href="https://esoquenosune.ciong.org/" target="_blank" rel="noopener noreferrer">Eso que nos une</a>
          </li>
          <li class="text-m-regular text-black underline uppercase">
            <a href="https://preguntas.ciong.org/" target="_blank" rel="noopener noreferrer">Preguntas incómodas</a>
          </li>
          <li class="text-m-regular text-black underline uppercase">
            <a href="https://valelapena.ciong.org/" target="_blank" rel="noopener noreferrer">Vale la pena</a>
          </li>
          <li class="text-m-regular text-black underline uppercase">
            <a href="https://miedo.ciong.org/" target="_blank" rel="noopener noreferrer">No te tengas miedo</a>
          </li>
        </ul>
      </div>
      <div>
        <h1 class="text-xl-bold md:text-xxl-heavy text-black uppercase">Otras campañas</h1>
        <ul class="flex flex-col gap-1 mt-5">
            <li class="text-m-regular text-black underline uppercase"><a href="https://www.youtube.com/watch?v=4hdku3zFoHA" target="_blank" rel="noopener noreferrer">La juventud no está mal</a></li>
            <li class="text-m-regular text-black"><a class="underline uppercase" href="https://www.youtube.com/watch?v=f_suvFImORg" target="_blank" rel="noopener noreferrer">Rompe la cadena.</a></li>
            <li class="text-m-regular text-black"><a class="underline uppercase" href="https://www.youtube.com/watch?v=PkTFxk6omYQ" target="_blank" rel="noopener noreferrer">Me nace.</a></li>
            <li class="text-m-regular text-black underline uppercase">
            <a href="https://www.youtube.com/watch?v=WDWS-KCK2ZA" target="_blank" rel="noopener noreferrer">Sé más tú</a>
            </li>
            <li class="text-m-regular text-black underline uppercase">
            <a href="https://www.youtube.com/watch?v=_oUeJ4Wqh-0" target="_blank" rel="noopener noreferrer">Uno</a>
            </li>
            <li class="text-m-regular text-black underline uppercase">
            <a href="https://www.youtube.com/watch?v=32ylFD4Wsic" target="_blank" rel="noopener noreferrer">Supongo</a>
            </li>
        </ul>
      </div>
      <div>
        <h1 class="text-xl-bold md:text-xxl-heavy text-black uppercase">Síguenos</h1>
        <ul class="flex flex-col gap-1 mt-5">
          <li class="text-m-regular text-black uppercase">
            <a href="https://ciong.org/" class="flex items-center gap-2" target="_blank" rel="noopener noreferrer">
              <img src="/svg/website-icon.svg" alt="Website" class="w-5 h-5" />
              <span>Website</span>
            </a>
          </li>
          <li class="text-m-regular text-black uppercase">
            <a
              href="https://www.instagram.com/cooperacion_internacional_ong/"
              class="flex items-center gap-2"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/svg/instagram-icon.svg" alt="Instagram" class="w-5 h-5" />
              <span>Instagram</span>
            </a>
          </li>
          <li class="text-m-regular text-black uppercase">
            <a
              href="https://www.tiktok.com/@cooperacion_int_ong"
              class="flex items-center gap-2"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/svg/tiktok-icon.svg" alt="TikTok" class="w-5 h-5" />
              <span>TikTok</span>
            </a>
          </li>
          <li class="text-m-regular text-black uppercase">
            <a
              href="https://www.youtube.com/@JuventudSolidaria"
              class="flex items-center gap-2"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/svg/youtube-icon.svg" alt="YouTube" class="w-5 h-5" />
              <span>YouTube</span>
            </a>
          </li>
          <li class="text-m-regular text-black uppercase">
            <a href="https://x.com/cooperacion" class="flex items-center gap-2" target="_blank" rel="noopener noreferrer">
              <img src="/svg/x-icon.svg" alt="X" class="w-5 h-5" />
              <span>X</span>
            </a>
          </li>
          <li class="text-m-regular text-black uppercase">
            <a
              href="https://www.linkedin.com/company/893242/admin/page-posts/published/"
              class="flex items-center gap-2"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/svg/linkedin-icon.svg" alt="LinkedIn" class="w-5 h-5" />
              <span>LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row justify-start items-start md:items-center gap-10 my-10 flex-wrap">
      <img src="/svg/COING-logo.svg" alt="Cooperacion Internacional" class="h-[40px] md:h-auto" />
      <img src="/svg/IYC-logo.svg" alt="Internacional Youth Cooperation" class="h-[40px] md:h-auto" />
      <img src="/svg/LFO-logo.svg" alt="Living for Others"/>
      <img 
        class="h-[50px] mix-blend-multiply" 
        src="/images/GOB-logo.png" 
        alt="Gobierno de España" 
      />
    </div>
  </div>
</footer>

