---
import "@/styles/fonts.css"
import "@/styles/colors.css"
import "@/styles/global.css"
import Navbar from "@/components/Navbar/Navbar.astro"
import Footer from "@/components/Footer/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CIONG</title>
  </head>
  <body class="min-h-screen flex flex-col flex-grow">
    <Navbar />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
